<!DOCTYPE html>
    <html>
        <head>
            <title>

            </title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel = 'stylesheet' href = '/styles/main.css'>
            <script src="https://kit.fontawesome.com/3564d5871b.js" crossorigin="anonymous"></script>
            <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
        </head>
        <body>

                <nav class = 'navbar navbar-expand-sm backThrough'>            
                    <div class = 'container'> 
                        <a href = '/' class = 'navbar-brand text-white'><i class="fas fa-tshirt"><span class = 'textDancing'> CS</span> </i></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
                            <span class = 'text-white'><i class="fas fa-bars"></i></span>
                          </button>

                          <div class="collapse navbar-collapse" id="mainNav">
                            <div class="navbar-nav">
                              <a class="nav-item nav-link text-white navHover mx-1 textDancing" href="/">Home <span class="sr-only">(current)</span></a>
                              <a class="nav-item nav-link text-white navHover mx-1 textDancing" href="/posts/new">New Post</a>
                            </div>
                          </div>

                    </div>
                </nav>


